@model ProducerViewModel
@{
    ViewData["Title"] = "Add New Producer";
}

<div class="text-danger" asp-validation-summary="All"></div>
<div class="container">
    <div class="card">
        <div class="card-heading">
            <h2>Add New Producer</h2>
        </div>
        
        <form class="card-form" asp-action="Create" enctype="multipart/form-data">

            <div class="card-image">
                <div class="input">
                    <label for="imageUpload" class="file-label">
                        <input asp-for="Image" type="file" class="input-img" id="imageUpload" />
                        <span>Upload Image</span> <!-- Placeholder text when no image is selected -->
                    </label>
                    <img id="imagePreview" alt="Uploaded Image Preview" />
                </div>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <partial name="PartialViews/_CreateEditPartialView"  />

            <div class="action">
                <button type="button" class="actionbtn" onclick="window.location.href='@Url.Action("Index", "Producer")'">Cancel</button>

                    <button type="submit" class="addbtn">Add</button>
                     
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        // JavaScript to handle image preview
        document.getElementById("imageUpload").addEventListener("change", function (event) {
            const file = event.target.files[0];
            const imagePreview = document.getElementById("imagePreview");

            if (file) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    imagePreview.src = e.target.result;
                    imagePreview.style.display = "block"; // Show the preview image
                };

                reader.readAsDataURL(file); // Convert the file into base64 string
            }
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
