@model string
<td class="align-middle">
    <div class="d-flex align-items-center">
        <a class="text-info me-2" asp-action="Details" asp-route-id="@Model"><i class="fas fa-eye"></i></a>
    </div>
</td>
<td class="align-middle">
    <div class="d-flex align-items-center">
        <a class="text-warning me-2" asp-action="Edit" asp-route-id="@Model"><i class="fas fa-edit"></i></a>
    </div>
</td>
<td class="align-middle">
    <div class="d-flex align-items-center">
        <a class="text-danger" asp-action="Delete" asp-route-id="@Model"><i class="fas fa-trash"></i></a>
    </div>
</td>